@charset "UTF-8";
/*╨Ю╤З╨╕╤Б╤В╨║╨░ ╤Б╤В╨╕╨╗╨╡╨╣*/
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*╨и╤А╨╕╤Д╤В╤Л*/
@font-face {
  font-family: "Gora";
  src: url("fonts/Gora-Free.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
/*╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡*/
/*╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕*/
.header {
  background-color: #131415; }

.container-header {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  height: 76px; }

.logo {
  align-self: center; }

.logo-text {
  font-family: Gora;
  font-size: 18px;
  color: #f89513;
  text-decoration: none; }
  .logo-text:hover {
    text-decoration: none; }

.top-bar {
  margin: 0 auto;
  display: flex; }

.top-bar__list {
  list-style: none;
  align-self: center; }

.top-bar__item {
  color: white;
  display: inline-flex;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold; }

.top-bar__item-icon {
  margin-right: 16px; }

.top-bar__item-text {
  margin-right: 28px;
  padding-left: 32px;
  display: flex;
  height: 20px;
  align-items: center;
  transition: 0.2s;
  color: white;
  text-decoration: none; }
  .top-bar__item-text:hover {
    color: #f89513;
    text-decoration: none; }

.top-bar__item-active {
  color: #f89513; }

.top-bar__list .top-bar__item-active {
  background: url("images/index-icon-active.png") no-repeat;
  transition: 0.2s;
  background-position-y: 50%; }

.top-bar__item-active .top-bar__item-text {
  color: #f89513; }

.top-bar__index {
  background: url("images/Index-icon.png") no-repeat;
  transition: 0.2s;
  background-position-y: 50%; }
  .top-bar__index:hover {
    background: url("images/index-icon-active.png") no-repeat;
    background-position-y: 50%;
    cursor: pointer; }

.top-bar__reviews {
  background: url("images/reviews-icon.png") no-repeat;
  transition: 0.2s;
  background-position-y: 50%; }
  .top-bar__reviews:hover {
    background: url("images/reviews-icon-active.png") no-repeat;
    background-position-y: 50%;
    cursor: pointer; }

.top-bar__service {
  background: url("images/service-icon.png") no-repeat;
  transition: 0.2s;
  background-position-y: 50%; }
  .top-bar__service:hover {
    background: url("images/service-icon-active.png") no-repeat;
    background-position-y: 50%;
    cursor: pointer; }

.head-contacts {
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative; }

.head-contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
  width: 100%; }

.head-contacts__schedule {
  color: #f89513;
  font-size: 14px;
  text-decoration: 1px solid #f89513;
  opacity: 0.7;
  transition: 0.2s; }
  .head-contacts__schedule:before {
    content: '';
    width: 100%; }
  .head-contacts__schedule:hover {
    color: white; }

.slider {
  background-color: white;
  display: flex;
  height: 622px; }

.slider__image {
  margin: 0 auto;
  align-self: center; }

.container-features {
  background-color: #131415; }

.features {
  width: 1100px;
  margin: 0 auto; }

.caption {
  font-size: 49px;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-align: center;
  padding-top: 62px;
  margin-top: 0; }
  .caption-white {
    color: white; }

.features {
  display: flex;
  justify-content: space-between; }

.feature {
  color: white;
  text-align: center;
  width: 220px; }

.feature__img {
  width: 68px;
  height: 68px;
  background-color: #f89513;
  border-radius: 50%;
  display: flex;
  margin: 0 auto; }
  .feature__img-icon {
    align-self: center;
    justify-content: space-between;
    margin: 0 auto; }

.description {
  margin-top: 40px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px; }

.text {
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 30px; }

.feature-list {
  font-size: 18px;
  font-family: "Open Sans";
  text-align: left;
  line-height: 30px;
  padding-bottom: 80px; }

.news {
  display: flex;
  padding: 0;
  padding-right: 26px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 38px;
  width: 880px; }

.news-item__image-wrapper {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
  background-size: cover; }

.news-item__image-wrapper_1 {
  background: url(images/1.jpg) no-repeat;
  background-size: cover; }

.news-item__image-wrapper_2 {
  background: url(images/2.jpg) no-repeat;
  background-size: cover; }

.news-item__image-wrapper_3 {
  background: url(images/3.jpg) no-repeat;
  background-size: cover; }

.news-item__text-wrapper {
  flex-shrink: 100;
  font-family: "Open Sans"; }

.news-item {
  display: flex;
  padding-bottom: 14px;
  margin-top: 24px;
  border-bottom: 1px solid #f5f5f5; }
  .news-item:nth-child(3) {
    border-bottom: none; }

a.news-item__link {
  text-decoration: none;
  color: black;
  display: flex; }

.news-item__date {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px; }

.news-item__caption {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 4px;
  line-height: 21px; }

.news-item__text {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-top: 14px;
  line-height: 30px; }

.container-news {
  width: 1100px;
  margin: 0 auto; }

.news-wrapper {
  display: flex; }

.top-news {
  margin-top: 48px; }

.top-news__caption {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: block; }

.top-news__description {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #656464;
  margin-top: 11px;
  display: block; }

.top-news__item {
  width: 160px;
  margin-top: 20px; }

.top-news__list {
  list-style: none;
  padding-left: 0; }

.top-news__item-img {
  width: 100%;
  opacity: 0.8; }

.container-switcher {
  width: 1100px;
  margin: 0 auto; }

.counter {
  margin: 0 auto;
  margin-top: 32px;
  text-align: center; }

.switcher__pages {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0; }

.pagination {
  display: inline-flex;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  margin-left: 20px; }

.counter-text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  color: #656464; }

.switcher__page-item {
  width: 25px;
  height: 25px; }

.switcher__link {
  width: 25px;
  height: 25px;
  display: block; }
  .switcher__link:hover {
    color: #f89513; }

.pagination__left {
  margin-right: 12px; }

.pagination__right {
  margin-left: 12px; }

.switcher__link {
  text-decoration: none;
  color: black; }

.switcher__active {
  background-color: #27273e;
  border-radius: 3px; }
  .switcher__active .switcher__link {
    color: white; }

.pagination__btn {
  color: #bebdbd;
  font-size: 22px; }
  .pagination__btn:hover {
    color: black; }

.pagination__active {
  color: black; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.footer {
  flex: 0 0 auto;
  background-color: #131415;
  margin-top: 66px; }

.container-footer {
  width: 1100px;
  margin: 0 auto;
  display: flex; }

.copyright {
  color: white; }

.copyright__text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 18px; }
  .copyright__text a {
    color: white;
    font-weight: bold; }
  .copyright__text b {
    font-weight: bold; }

.logo-footer {
  display: flex;
  margin: 0 auto;
  text-decoration: none; }

.social {
  color: white;
  margin-top: 18px; }

.social__text {
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 14px; }

.social__list {
  list-style: none;
  display: flex;
  padding-left: 0; }

.social__item {
  margin-right: 10px;
  display: flex; }

.social__image {
  align-self: center;
  justify-content: space-between;
  margin: 0 auto; }

.social__item-link {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d0d0d0;
  transition: 0.2s; }
  .social__item-link:hover {
    background-color: #f89513; }

.caption-black {
  margin: 0; }

.modal:before {
  content: '';
  position: absolute;
  left: 87%;
  top: -29%;
  border: 10px solid transparent;
  border-bottom: 10px solid white; }

.modal {
  background-color: white;
  width: 162px;
  height: 70px;
  position: absolute;
  box-shadow: 0 0 10px 0 rgba(23, 59, 117, 0.55);
  border-radius: 3px;
  top: 100%;
  box-sizing: border-box; }

.mode {
  padding: 14px 19px 14px 19px;
  text-align: left;
  opacity: 0;
  transition: 0.2s; }

.mode__main {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #f89513; }

.mode__dinner {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 300; }

.head-contacts__schedule:hover + .mode {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
